In [10]:
import pandas as pd

# Charger le fichier CSV
df_estat = pd.read_csv("estat_bd_salge1_l_form.tsv", sep='\t')
df_estat.head(10)

,"freq,indic_sbs,leg_form,nace_r2,geo\TIME_PERIOD",2015,2016,2017,2018,2019,2020,2021
0,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,AT",:,:,:,:,:,:,: c
1,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,BE",:,:,:,:,:,:,: c
2,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,BG",:,:,:,:,:,:,: c
3,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,CY",:,:,:,:,:,:,: c
4,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,CZ",:,:,:,:,:,:,: c
5,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,DE",:,:,:,:,:,:,0.10 e
6,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,DK",:,:,:,:,:,:,0.13
7,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,EE",:,:,:,:,:,:,: c
8,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,EL",:,:,:,:,:,:,0.00 b
9,"A,EMP_SALGE1_BRTHR_PC,ENT_LL,B,ES",:,:,:,:,:,:,: c

In [11]:
# Séparer la première colonne en 6 colonnes en utilisant la virgule comme séparateur
df_split = df_estat['freq,age,sizeclas,indic_sbs,nace_r2,geo\\TIME_PERIOD'].str.split(',', expand=True)

# Renommer les colonnes
df_split.columns = ['freq', 'age', 'sizeclas', 'indic_sbs', 'nace_r2', 'geo_TIME_PERIOD']

# Remplacer la colonne d'origine par les nouvelles colonnes dans le DataFrame
df_estat= pd.concat([df_split, df_estat_bd_size.drop(columns=['freq,age,sizeclas,indic_sbs,nace_r2,geo\\TIME_PERIOD'])], axis=1)

# Renommer la colonne 'geo_TIME_PERIOD' en 'geo'
df_estat = df_estat_bd_size.rename(columns={'geo_TIME_PERIOD': 'geo'})

# Afficher les premières lignes pour vérifier le résultat
print(df_estat.head())

KeyError: 'freq,age,sizeclas,indic_sbs,nace_r2,geo\\TIME_PERIOD'

In [9]:
# Obtenir le nombre de lignes
nombre_de_lignes = df_estat_bd_size.shape[0]

# Afficher le nombre de lignes
print(f"Nombre de lignes : {nombre_de_lignes}")
print(df_estat_bd_size['nace_r2'].unique())

Nombre de lignes : 1454295
['B' 'B-S_X_O_S94' 'C' 'C10-C12' 'C13_C14' 'C15' 'C16' 'C17_C18' 'C19'
 'C20' 'C21' 'C22' 'C23' 'C24_C25' 'C26' 'C27' 'C28' 'C29_C30' 'C31_C32'
 'C33' 'C_ICT' 'D' 'E' 'F' 'G' 'G-S_X_O_S94' 'G-U_ICT' 'G45' 'G46' 'G47'
 'G471' 'G472' 'G473' 'G474' 'G475' 'G476' 'G477' 'G478' 'G479' 'H' 'H49'
 'H50' 'H51' 'H52' 'H53' 'I' 'I55' 'I56' 'ICT' 'J' 'J58' 'J59' 'J60' 'J61'
 'J62' 'J620' 'J6201' 'J6202' 'J6203' 'J6209' 'J63' 'K' 'K64' 'K65' 'K66'
 'L' 'L68' 'L681' 'L682' 'L683' 'M' 'M69' 'M691' 'M692' 'M70' 'M701'
 'M702' 'M71' 'M711' 'M712' 'M72' 'M721' 'M722' 'M73' 'M731' 'M732' 'M74'
 'M741' 'M742' 'M743' 'M749' 'M75' 'M750' 'N' 'N77' 'N771' 'N772' 'N773'
 'N774' 'N78' 'N781' 'N782' 'N783' 'N79' 'N791' 'N799' 'N80' 'N801' 'N802'
 'N803' 'N81' 'N811' 'N812' 'N813' 'N82' 'N821' 'N822' 'N823' 'N829' 'P'
 'P85' 'Q' 'Q86' 'Q87' 'Q88' 'R' 'R90' 'R91' 'R92' 'R93' 'S95' 'S96']